* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}


/*Hero*/
.container {
    height: 100vh;
    width: 100%;
    background-image: url(./image/nice.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.content {
    width: 88%;
    margin: auto;
    position: relative;
    z-index: 2;
}
.content .logo {
    width: 100px;
    margin-top: 50px;
}
.content hr {
    left: 0;
    border: none;
    height: 5px;
    max-width: 280px;
    margin-top: 8px;
    background: #006eff;
}
.content h1 {
    font-size: 120px;
    font-weight: 100;
    color: #c5c3c3;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    line-height: 120px;
}
.content h1 span {
    color: #fff;
    background-color: rgba(0, 129, 250, 0.616);
    font-size: 1.10em;
    padding: 0 5px;
}
.content p {
    max-width: 450px;
    color: #919191;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 14px;
}
.content .btn {
    text-decoration: none;
    border: 1px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    padding: 18px 34px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 40px;
}
.content .btn:hover {
    background: #84b6f8;
    border-color: #84b6f8;
    color: black;
    transition: .5s;
}
.content .btn2 {float: right;}
.sidebar {
    width: 30%;
    max-width: 550px;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backdrop-filter: blur(6px);
}

/*Menu*/
.pages,
.pages > div {
    width: 100%;
    height: 100vh;
}
.pages > div:nth-child(1) {
    background-image: url(./image/nice.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.pages > div:nth-child(2) {
    background-color: #fff;
}
.pages > div:nth-child(3) {
    background-color: #fff;
}
.pages > div:nth-child(4) {
    background-color: #fff;
}
.menu {
    list-style: none;
    margin: -75px 0;
    padding: 0;
    position: fixed;
    bottom: 50%;
    right: 40px;
}
.menu li {
    clear: both;
    display: block;
}
.menu a {
    border: 1px solid white;
    border-radius: 13px;
    color: rgba(0, 0, 0, 0);
    display: block;
    float: right;
    font-size: 13px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin-top: 15px;
    opacity: 0.6;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s;
}
.menu a:hover,
.menu a.active {
    width: 100px;
    color: #777;
    background: white;
}
.menu a.active {opacity: 1;}
h2 {
    margin: 0;
    color: white;
    padding: 40px;
    font-weight: 200;
    opacity: 0.3;
}




/*About page*/



















/*Loader*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gone {
    animation: gone 2s forwards;
}
@keyframes gone {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}